@import '../../styles/variables';

.home__card {
    display: inline-block;
    width: 18%;
    padding-left: 100px;
    margin-left: 200px;
    margin-right: 30px;
    margin-top: 40px;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    border-radius: 10px;
    margin-bottom: 70px;
    
    


    img {
        max-width: 141%;
        transform: translate(-29%);
        border-bottom: 1px solid gray;
        
        
        
    }

    p {
        padding-top: 20px;
        transform: translateX(-3%);
        color: #252423;
        font-size: 12px;
        width: 100%;
    }

    

}

.card__titles {

    

    button {
        width: 160px;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #0C70F2;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0;
        text-decoration: none !important;
        color: #FFFFFF;
        font-size: 14px;
        transform: translateX(-4%);
        opacity: 1;

        

        a {
            text-decoration: none !important;
            color: #FFFFFF;
            font-weight: bold;
            
        }

    }

    button:hover {
        opacity: 0.9;
    }

    
}

