@import '../../styles/variables';

.home__card {
    vertical-align: bottom;
    width: 400px;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    border-radius: 10px;
    padding: 0.75rem;
    text-align: center;

    img {
        max-width: 300px;
        border-bottom: 1px solid gray;
    }

    p {
        // padding-top: 20px;
        color: #252423;
        font-size: 16px;
        margin-bottom: 1rem ;
        width: 100%;
    }



}

.card__titles {
    text-align: center;
    margin-top: 2rem;

    a {
        padding: 0.5rem 2rem;
        margin-bottom: 20px;
        background: #0C70F2;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0;
        color: #FFFFFF;
        font-size: 14px;
        opacity: 1;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;

    }

}



button:hover {
    opacity: 0.9;
}