    footer {
        background: #0C70F2;
        padding: 2rem;
        display: flex;
        align-items: left;
        color: #fff;
        bottom: 0;

        p {
            max-width: 50%;
        }

        img {
            margin-bottom: 2rem;
        }
    }