    footer{

    background: #0C70F2;
    padding: 2rem;
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    bottom: 0;
        p{
            max-width: 50%;
        }

            img{
                margin-bottom: 2rem;
            }
    }
    
    
    