@import '../../scss/variables';

footer {
    display: flex;
    flex-direction: row;
    background: $azul-dnc;
    padding: 2rem;

    img {
        width: 160px;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    p {
        color: $branco-dnc;
        font-size: 20px;
        margin-top: 35px;
        padding-left: 50px;
        margin-left: 40px;
        margin-bottom: 25px;
    }

    span {
        font-weight: bold;
    }

}