@import '../../styles/variables';

body {
    background: $preto-dnc ;

    img {
        width: 100%;
    }
}

.galery {
    background: $preto-dnc ;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 3rem;
    margin-top: -10px;
    text-align: center;
    justify-content: center;
}

