@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

$background:#ffffff;
$preto-dnc:#303030;
$detalhamento:#ffffff;
$font-padrao:'Raleway', sans-serif;
$font-Inter: 'Inter', sans-serif;
$azul-dnc:#0C70F2;
$border-dnc: #7A7A7A;
$branco-dnc: #ffffff;
$border-search: #B7B7B7;
$black: black;