.btnCart{

    button{
        width: 350px;
        line-height: 10px;
       padding-bottom: 10px;
    } 

    img{
        margin-top: 5px;
        width: 16px;
        float: inline-start;
        margin-right: 10px;
        
    }

}